h1 {
    text-align: center;
}

header {
    background-color: #ffd369;
    display: flex;
    justify-content: space-between;
    .logo{
        margin: 10px 20px;
        img{
            width: 100px;
            height: 80px;
        }
    }
    ul {
        list-style: none;
        display: flex;
        li {
            margin: auto 30px;
        }
    }
    .link {

    }

}